{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li><strong>Adaptive Audiovisual Solutions-AAS: </strong></li><br>
        <li><strong>Sähköposti: </strong><br><a href="mailto:info(at)aas.fi">info(at)aas.fi</a></li><br>
             {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Osoite: </strong><br>{{ .Site.Data.contact.address }}</li><br>
        {{ end }}
        <li><strong>Y-tunnus: </strong><br>2439148-0</li><br>
        <li><strong>Sähköinen laskutus:</strong>
        <li><strong> OVT-tunnus:</strong>003724391480</li>
        <li><strong> Välittäjä: </strong>ITELFIHH</li> <br>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <hr>
      {{ .Content }}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li><strong>Puhelin: </strong><br>{{ .Site.Data.contact.phone }}</li>
        <li><strong>Sähköposti: </strong><br><a href="mailto:veke(at)aas.fi">veke(at)aas.fi</a></li>
   
      </ul>
    </div>
  </div>
</div>


{{ end }}
