{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li><strong>Puhelin: </strong>{{ .Site.Data.contact.phone }}</li>
        <li><strong>Sähköposti: </strong><a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a></li>
        {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Osoite: </strong><br>{{ .Site.Data.contact.address }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
